* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Nunito, Arial, Helvetica, sans-serif;
    line-height: 1.5;
    background: #0c192c;

    --primary-text-color: #181820;
    --secondary-text-color: #5c5c62;
    --durability-text-color: #6a737d9c;
    --icon-color: #6a737d;
    --border-color: #ff9a0045;
    --text-decoration-color: #ff9a00;
}

/* bubbles */

.main-container {
    width: 100%;
}

.bubbles {
    display: flex;
}

.bubbles .bubble-span {
    position: relative;
    width: 20px;
    height: 20px;
    background: #f8af41;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #492c01, 0 0 50px #f8af41, 0 0 100px #f8af41;
    animation: animate 15s linear infinite;
    animation-duration: calc(200s / var(--i));
}

.bubbles .bubble-span:nth-child(even) {
    background: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
}

@keyframes animate {
    0% {
        transform: translateY(330vh) scale(0);
    }
    100% {
        transform: translateY(-10vh) scale(1);
    }
}

/* ////// */

.container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 900px;
    z-index: 999;
}

.fh {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.resume {
    margin: 50px auto;
    border: 1px solid #f5f5f5;
    padding: 30px 0;
    max-width: 900px;
    background: white;
    z-index: 999;
    justify-content: center;
    align-items: center;
}

.resume__block {
    border-bottom: 3px solid var(--border-color);
    padding-bottom: 30px;
    margin-bottom: 15px;
}

@media screen and (max-width: 576px) {

    .main-info,
    .contact_info_container {
        flex-direction: column;
    }

    .contact_info_container {
        align-items: center;
    }

    .contact-info__block:not(:last-child) {
        margin-bottom: 20px;
    }

    .experiences {
        margin-right: 0;
    }
}

/* Contact info styles */
.contact-info__header,
.contact-info__sub-header {
    text-align: center;
}

.contact-info__header {
    color: var(--primary-text-color);
    margin-bottom: 15px;
    text-decoration-color: var(--text-decoration-color);
    text-decoration-line: underline;
}

.contact-info__sub-header {
    color: var(--secondary-text-color);
    margin-bottom: 30px;
}

.contact-info__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-info__block--center {
    justify-content: center;
    align-items: center;
}

.contact-info__item {
    color: var(--secondary-text-color);
    text-decoration: none;
    display: flex;
    justify-content: start;
}

.contact-info__item:not(:last-child) {
    margin-bottom: 20px;
}

.contact-info__item-icon-wrapper {
    margin-right: 10px;
    width: 20px;
    display: flex;
    justify-content: center;
}

.contact-info__item-icon path {
    fill: var(--icon-color);
}

.contact-info__item-icon {
    height: 1.1428rem;
    vertical-align: text-bottom;
}

.contact-info__block a:hover {
    color: rebeccapurple;
}

.contact-info__avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid;
    border-color: var(--text-decoration-color);
}

/* Intro and skills styles */
.intro {
    display: flex;
    justify-content: start;
}

.intro__icon-wrapper {
    margin-right: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
}

.intro__icon {
    height: 1.1428rem;
    vertical-align: text-bottom;
}

.intro__icon path {
    fill: var(--text-decoration-color);
}

.intro_text {
    color: var(--secondary-text-color);
    text-align: justify;
}

.info-block__text {
    color: var(--secondary-text-color);
    text-align: justify;
    display: flex;
    justify-content: space-around;
}

.skills__header {
    color: var(--secondary-text-color);
    text-align: center;
    margin-bottom: 15px;
}

.skills__text {
    color: var(--secondary-text-color);
    text-align: justify;
}

/* Experience and additional info styles */

.experiences {
    flex: 1 1 60%;
    margin-right: 50px;
}

.experiences__header {
    color: var(--secondary-text-color);
    text-align: left;
    margin-bottom: 20px;
}

.experiences__company-header-duration {
    color: var(--durability-text-color);
    text-align: left;
    margin-bottom: 10px;
    font-size: 15px;
}

.project-description {
    color: var(--text-decoration-color);
    text-decoration: none;
}

.project-description:active {
    color: var(--primary-text-color);
    text-decoration: none;
}

.additional-info {
    flex: 1 1 40%;
}

.additional-info__education {
    margin-bottom: 20px;
}

.additional-info__education-header {
    color: var(--secondary-text-color);
    text-align: left;
    margin-bottom: 20px;
}

.additional-info__education-university-duration {
    color: var(--durability-text-color);
    text-align: left;
    margin-bottom: 10px;
    font-size: 15px;
}

.additional-info__education-university-speciality {
    color: var(--primary-text-color);
    text-align: left;
    margin-bottom: 10px;
}

.additional-info__education-university-name {
    color: var(--secondary-text-color);
}

.additional-info__languages {
    margin-bottom: 20px;
}

.additional-info__languages-header {
    color: var(--secondary-text-color);
    text-align: left;
    margin-bottom: 20px;
}

.additional-info__languages-item {
    color: var(--secondary-text-color);
}

.memes {
    width: 250px;
    height: 250px;
    object-fit: contain;
    border: 3px solid;
    border-color: var(--border-color);
}

.memes-ul {
    list-style-type: none;
}

/* Timeline styles */
.timeline__header {
    color: var(--secondary-text-color);
    text-align: center;
    margin-bottom: 15px;
}

.flex-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 50px;
}

.input-flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 40vw;
    height: 100px;
    max-width: 1000px;
    position: relative;
    z-index: 0;
}

.input {
    width: 25px;
    height: 25px;
    background-color: #2c3e50;
    position: relative;
    border-radius: 50%;
}

.input:hover {
    cursor: pointer;
}

.input::before,
.input::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    background-color: #2c3e50;
    width: 3vw;
    height: 4px;
    max-width: 50px;
}

.input::before {
    left: calc(-3vw + 12.5px);
}

.input::after {
    right: calc(-3vw + 12.5px);
}

.input.active {
    background-color: #2c3e50;
}

.input.active::before {
    background-color: #2c3e50;
}

.input.active::after {
    background-color: #aeb6bf;
}

.input.active span {
    font-weight: 700;
}

.input.active span::before {
    font-size: 13px;
}

.input.active span::after {
    font-size: 15px;
}

.input.active~.input,
.input.active~.input::before,
.input.active~.input::after {
    background-color: #aeb6bf;
}

.input span {
    width: 1px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.input span::before,
.input span::after {
    visibility: visible;
    position: absolute;
    left: 50%;
}

.input span::after {
    content: attr(data-year);
    top: 25px;
    transform: translateX(-50%);
    font-size: 14px;
}

.input span::before {
    content: attr(data-info);
    top: -65px;
    width: 70px;
    transform: translateX(-5px) rotateZ(-45deg);
    font-size: 12px;
    text-indent: -10px;
}

.description-flex-container {
    width: 80vw;
    font-weight: 400;
    font-size: 22px;
    margin-top: 100px;
    max-width: 1000px;
}

.description-flex-container p {
    margin-top: 0;
    display: none;
}

.description-flex-container p.active {
    display: block;
}

@media (width >=1250px) {
    .input::before {
        left: -37.5px;
    }

    .input::after {
        right: -37.5px;
    }
}

@media (width <=850px) {
    .input {
        width: 17px;
        height: 17px;
    }

    .input::before,
    .input::after {
        height: 3px;
    }

    .input::before {
        left: calc(-4vw + 8.5px);
    }

    .input::after {
        right: calc(-4vw + 8.5px);
    }
}

@media (width <=600px) {
    .flex-parent {
        justify-content: initial;
    }

    .input-flex-container {
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        height: auto;
        margin-top: 15vh;
    }

    .input {
        width: 60px;
        height: 60px;
        margin: 0 10px 50px;
        background-color: #aeb6bf;
    }

    .input::before,
    .input::after {
        content: none;
    }

    .input span {
        width: 100%;
        height: 100%;
        display: block;
    }

    .input span::before {
        top: calc(100% + 5px);
        transform: translateX(-50%);
        text-indent: 0;
        text-align: center;
    }

    .input span::after {
        top: 50%;
        transform: translate(-50%, -50%);
        color: #ecf0f1;
    }

    .description-flex-container {
        margin-top: 30px;
        text-align: center;
    }
}

@media (width <=400px) {
    body {
        min-height: 950px;
    }
}